// SASS NESTING SEBUAH CODE YANG BERADA DALAM 1 VARIABLE LOKAL { }

// .main{
//     background-color: violet;
// }

// .main-heading{
//     font-size: 2em;

// }

// .main-paragraph{
//     font-size: 1.9em;
// }

// menerapkan daftar selektor dengan mudah 

// .main, footer{
//     h1, p{
//       letter-spacing: 21px;
//     }
//   }

// && 
// parent selector

// .main{
//     .container &{
//         background-color: salmon;
//     }
//     .main-heading{
//         font-size: 2em ;
//     }
//     &:hover{
//         background-color: aqua;
//     }

// }

// melakukan generate menggunakan &

// .main{
    // #{&} atau bisa menggunakan seperti in
//    & &-heading{
//         font-size: 5em;
//     }
//    & &-paragraph{
//         font-size: 5em;
//     }
// }


// .footer {
//     // #{&} atau bisa menggunakan seperti in
//     & &-heading{
//         background-color :blue;
//     }

//     & &-paragraph{
//         background-color: lightcoral;
//     }
// }

// AKHIR LATIHAN 1
 
// AWAL LATIHAN 2

// CSS VARIABLES
// cara agar semua element dapat mengakses variables nya dapat menggunakan code dibawah ini

// :root{
//     --primary-color: #ddd;
//     --secondary-color: violet;
//     --text-color: salmon ;
// }

// body{
//     background-color: var(--primary-color);
// }

// h1{
//     color: var(--secondary-color);
// }

// p{
//     color: var(--text-color);
// }

// sass variables
// $text-color: salmon;
// $secondary-color: violet;
// dapat membuah nama variable yang sama hanya berbeda penempatan saja global dengan lokal
// $primary-color: lightgreen;


// body{
    // $primary-color: #ddd !global;
//     $primary-color: #ddd;
//     background-color:$primary-color;
// }

// h1{
//         color: $primary-color;
// }

// p{
//     color: $secondary-color;
// }

// MAP memapping antara key dan value

// $alert-danger:red;
// $alert-success:green;
// $alert-warning:yellow;

// $alert:(
//     'danger':red,
//     'warning':yellow,
//     'success':lightgreen,
// );

// h1{
//     color: map-get($alert ,'success');
// }

// p{
//     background-color: map-get($alert , 'warning');
// }

// AKHIR PRACTICE 2

// AWAL PRACTICE 3

// MIXIN (Kumpulan style yang dapat kita gunakan berulang - ulang atau sebuah function dalam sass)

// Simple mixin

// @import 'modules/mixin', 'modules/header', 'modules/container', 'modules/footer';


// @use 'modules/header';
// @use 'modules/container';
// @use 'modules/footer';



// // Akhir Latihan  3

// // awal latihan 4
// body{
//     min-height: 1000px;
// }
// @mixin profile-picture($size, $circle: false) {
//     width: $size;
//     height: $size;
//     border: 5px solid white;
//     box-shadow: 1px 1px 3px rgba($color: #000000, $alpha: 0.3);


//     @if $circle{
//         border-radius: 50%;
//     }
// }

// .square-profile{
//     @include profile-picture(200px, $circle: false );
// }
// .circle-profile{
//     @include profile-picture(80px, $circle: true);
// }

// // else
// $light-bg: #eaeaea ;
// $light-text:#333;
// $dark-bg:#999;
// $dark-text:#ddd;

// @mixin color-mode($light-mode:true) { 
//     @if $light-mode {
//           background-color: $light-bg;
//           color: $light-text;
//     } @else {
//         background-color: $dark-bg;
//         color: $dark-text;
//     }

// }

// .nav{
//     @include color-mode($light-mode: false);
// }

// // else if
// @mixin triangle($size, $color, $direction) {
//     width: 0;
//     height: 0;
//     background-color:transparent;
//     border-color: transparent;
//     border-style: solid;
//     border-width: $size / 2;
//     @if direction == up {
//         border-bottom-color:$color;
//     } @else if $direction == right {
//         border-left-color:$color;
//     } @else if $direction == down {
//         border-top-color:$color;
//     } @else {
//         border-right-color: $color;
//     }
// }
// .right{
//     @include triangle(2em, black ,right )
// }




// while
// .gradient{
//     $color: orange;
//     list-style: none;
//     padding: 0;
//     margin: 0;
//     $i: 1;
//     @while $i < 11 {
//         li:nth-child(#{$i}){
//             padding: 4px;
//             background-color: lighten($color, $i * 2%);
//         }
//         $i : $i + 1;
//     }
// }


// for
// $color: blueviolet;
// .gradient{
//     margin: 0;
//     padding: 0;
//     list-style: none;
//     @for $i from 1 to 11 {
//         li:nth-child(#{$i}){
//             padding: 4px;
//             background-color: lighten($color, $i * 3%);
//     }
// } 
// }


// each
// $social-color:(
//     youtube:red ,
//     instagram: violet,
//     twitter: #1da1f2,
// );

// .socials{
//     font-size: 2em;
//     font-family: arial;
//     font-weight: bold;
//     @each $social, $color in $social-color {
//         .#{$social}{
//             color: $color;
//         }
//     } 
// }

// Akhir latihan 3

// Awal latihan 4

$warna-dasar:salmon;
h1{
    color: $warna-dasar;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    text-align: center;
}

    // Built-in Modulse: color
    // adjust-color($color: #000000, $red: 1, $green: 2, $blue: 3, $hue: 0, $saturation: 0%, $lightness: 0%, $alpha: 1.0)

//  h1 {
//      color: adjust-color($color: $warna-dasar, $red: null, $green: null, $blue: 78%, $hue: null, $saturation: null, $lightness: null, $alpha: null);
//  };

// hue in while color
//   h1{
//       color: adjust-hue($warna-dasar, -80deg);
//   }

// complement($color) langsung menentuka warna yang berlawanan
// h1{
//     color: complement($color: ($warna-dasar));
// }

// darken
// h1{
//     color: darken($color: $warna-dasar, 30%)
// }

// lighten 
h1{
    color: lighten($warna-dasar, 10%);
}