@use 'mixin';
.footer ul {
    @include mixin.inline-list();
    li{
        padding: 0.4em;
        background-color:goldenrod;
      
        a{
        color: white;
        text-decoration: none;
        }
    }

}